/* Makes image gallery responsive without using a media query */

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  gap: 1rem;
  padding: 15px;
}
.container img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}