/* Makes image gallery responsive without using a media query */

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  gap: 1rem;
  padding: 15px;
}
.container img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.heading{
  text-align: center;
  background-color: lightgrey;
}

.image{
  display: grid;
  grid-template-rows: 1fr auto;
}

figcaption{
  text-align: center;
  margin: 5px 0 0 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
  background-color: lightgray;
  border: 2px solid black;
  padding: 0.25rem;
}